.container{
  max-width: 600px;
  background-color: #abc;
  margin: 5% auto;
  
}

.col-container{
  @extend .clearfix;
  padding-bottom: 5px;
}

// Col 2 Usage
.col-2{
  background: #333;
  min-height: 100px;
  float: left;
  // equalSpaced( $num_of_cols, $spacing, $width  )
  @include equalSpaced(2, 5%, 100%);
}


// Col 2 Usage
.col-3{
  background: #333;
  min-height: 100px;
  float: left;
  // equalSpaced( $num_of_cols, $spacing, $width  )
  @include equalSpaced(3, 2%, 100%);
}

// Col 2 Usage
.col-4{
  //background: #333;
  min-height: 100px;
  float: left;
  border: 1px solid #333;
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
  background-color: #D5DBEF;
  // equalSpaced( $num_of_cols, $spacing, $width  )
  @include equalSpaced(4, 0%, 100%);
  
}

.col-4 > img{
	border-radius: 2px;

}
.col-4 > img, .col-4 > input[type="button"]{
		margin: auto;
	display: block;
}